name: Docker Image to DockerHub
on:
  push:
    branches: [ "main" ]

jobs:
  create-and-sign:
    name: Push signed image to Dockerhub
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0\
      
      - name: Build and Push Final Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/fastapi:${{ github.sha }}
      - name: Sign the Image with Cosign (Keyless)
        env:
          COSIGN_EXPERIMENTAL: "true"
        run: |
          echo "Signing image with cosign..."
          cosign sign \
            ${{ secrets.DOCKER_USERNAME }}/secops-pipeline:latest
          echo "Image successfully pushed and signed."
